[Unit]
Description=Camera IoT at boot
After=network-online.target

[Service]
Restart=on-failure
RestartSec=10s
Environment="NODE_PATH=/usr/local/bin/node"
Environment="HOME=/home/pi"
WorkingDirectory=/home/pi/aws-iot-rpi-camera
ExecStartPre=/bin/sleep 1
ExecStart=/usr/local/bin/node /home/pi/aws-iot-rpi-camera/index.js

[Install]
WantedBy=multi-user.target

